/* Resetando estilo padrão do browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

/* Adicionando cor de fundo ao body */
body {
    background: #f1f1f1;
}

/* Estilizando o header */
header {
    padding: 30px;

    text-align: center;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

header h1 {
    font-size: 3rem;
    color: #fff;
}

/* Estilizando barra de navegação */
nav ul {
    list-style: none;
    background: linear-gradient(to right, #56a7f2, #468aca);
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 16px;

    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav a:hover {
    background: #f1f1f1;
    color: #56a7f2;
}